body {
    top: 0px;
    position: static;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    top: 0px;
    position: sticky;
    border-bottom: solid 1px rgb(227, 233, 237);
    z-index: 2;
}
nav{
    height: 64px;
    top: 0px;
    width: 100%;
    z-index: 3;
    background-color: white;
    display: flex;
    align-items: center;

}
aside {
    flex: 0 0 calc(25% - 24px);
    max-width: 400px;
    min-width: 350px;
    height: calc(100vh - 64px - 48px);
    padding: 36px 13% 24px 10px;
    position: fixed;
    top: 65px;
    right: 0;
    z-index: 2;
    overflow-y: scroll;
}
#listCreator {
    height: 52px;
    width: 100%;
}
#listCreator div {
    height: 100%;
    width: 100%;
    position: relative;
    border: solid 1px rgb(227, 233, 237);
    margin-top: -1px;
    margin-left: -1px;
}
#listCreator div h4 {
    left: 20px;
    position: absolute;
    margin: 0px;
    top: 18px;
}
#listCreator div .btn {
    position: absolute;
    right: 20px;
    top: 16.5px;
}
#chart {
    border-bottom: 1px solid rgb(227, 233, 237);
    border-left: 1px solid rgb(227, 233, 237);
    height: 400px;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1000px;
    z-index: 1;
}
section{
    flex: 0 0 calc(75% - 24px);
    margin-left: 12px;
    margin-right: 12px;
    min-width: 0px;
    padding-top: 36px;
    width: auto;
}
main {
    max-width: 1440px;
    min-width: 1080px;
    margin: 0 15% 0 auto;
    overflow: auto;
    height: auto;
}
#searchForm {
    border: solid 1px rgb(227, 233, 237);
    border-radius: 5px;
    width: 72%;
    min-width: 158px;
    display: flex;
    align-items: center;
    height: 36px;
}
#pageLogo {
    height: 50px;
    left: 40px;
    position: fixed;
}
#webName {
    padding-left: 100px;
    scale: 75%;
}
#searchForm input {
    border: none;
    background-color: white;
    height: 18px;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    padding: 0 60px 0 26px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center left;
}
table {
    border: solid 1px rgb(227, 233, 237);
    margin-top: 60px;
}
th {
    border: solid 1px rgb(227, 233, 237);
    text-align: center;
    width: 180px;
    height: 40px;
}
td {
    border: solid 1px rgb(227, 233, 237);
    text-align: center;
    width: 180px;
    height: 40px;
}
#chart {
    border-bottom: 1px solid rgb(227, 233, 237);
    border-left: 1px solid rgb(227, 233, 237);
    height: 400px;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1000px;
    z-index: 1;
}
.lineChart {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.dataPoint {
    background-color: white;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;
    z-index: 1;
    bottom: calc(var(--y) - 8px);
    left: calc(var(--x) - 8px);
}
.lineSegment {
    bottom: var(--y);
    height: 3px;
    left: var(--x);
    position: absolute;
    width: calc(var(--hypotenuse) * 1px);
    transform: rotate(calc(var(--angle) * 1rad));
    transform-origin: left bottom;
}
#xAxis {
    margin-top: 10px;
    margin-left: -5px;
}
.tooltiptext {
    width: 120px;
    background-color: rgba(0, 0, 0, 0.709);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 4;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
}
.btn {
    cursor: pointer;
}
.container {
    height: auto;
}
#listCreator div .btn2 {
    position: absolute;
    right: 20px;
    top: 16.5px;
}
#listCreator div .btn1 {
    position: absolute;
    right: 50px;
    top: 16.5px;
    padding: 1.5px 8px;
}
#description {
    margin-right: 35%;
}
#stockHeadInfo {
    margin-left: 20px;
}
footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
  }